# Presentación-Importación de Librerias y Carga de datos

In [ ]:
#Importar libreria
import pandas as pd

#Visualizar datos del dataframe
pd.read_csv('sonic_aprendisaje(Matrices).csv')

      B  A  MODE  START  UP  DOWN  LEFT  RIGTH  C  Y  X  Z  REWARD
0     1  1     0      0   0     0     0      0  0  1  1  0       0
1     1  0     0      0   0     0     1      1  1  0  0  1       0
2     0  0     0      1   0     1     1      0  0  1  1  1       0
3     0  0     0      0   1     1     1      1  0  1  1  1       0
4     1  1     0      0   0     0     1      1  1  0  1  1       0
...  .. ..   ...    ...  ..   ...   ...    ... .. .. .. ..     ...
8186  1  0     1      0   0     0     0      0  0  1  1  0       0
8187  1  0     1      0   0     0     0      0  0  1  1  1       0
8188  0  1     1      1   0     0     1      1  0  1  1  1       0
8189  0  0     1      0   1     1     0      1  1  1  0  0       0
8190  1  0     1      1   0     1     1      1  0  0  1  0       0

[8191 rows x 13 columns]

# Análisis exploratorio de datos

In [ ]:
# Carga de datos en una variable
sonic_games = pd.read_csv('sonic_aprendisaje(Matrices).csv') 
#Visualizacion de variables nulas y sus tipos de datos
sonic_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8191 entries, 0 to 8190
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   B       8191 non-null   int64
 1   A       8191 non-null   int64
 2   MODE    8191 non-null   int64
 3   START   8191 non-null   int64
 4   UP      8191 non-null   int64
 5   DOWN    8191 non-null   int64
 6   LEFT    8191 non-null   int64
 7   RIGTH   8191 non-null   int64
 8   C       8191 non-null   int64
 9   Y       8191 non-null   int64
 10  X       8191 non-null   int64
 11  Z       8191 non-null   int64
 12  REWARD  8191 non-null   int64
dtypes: int64(13)
memory usage: 832.0 KB

In [ ]:
 #Observacion del valor máximo en una escala superior a los demás valores.
sonic_games.describe().T

         count      mean       std  min  25%  50%  75%  max
B       8191.0  0.493713  0.499991  0.0  0.0  0.0  1.0  1.0
A       8191.0  0.498108  0.500027  0.0  0.0  0.0  1.0  1.0
MODE    8191.0  0.499695  0.500030  0.0  0.0  0.0  1.0  1.0
START   8191.0  0.500671  0.500030  0.0  0.0  1.0  1.0  1.0
UP      8191.0  0.499573  0.500030  0.0  0.0  0.0  1.0  1.0
DOWN    8191.0  0.500671  0.500030  0.0  0.0  1.0  1.0  1.0
LEFT    8191.0  0.495544  0.500011  0.0  0.0  0.0  1.0  1.0
RIGTH   8191.0  0.490050  0.499932  0.0  0.0  0.0  1.0  1.0
C       8191.0  0.499084  0.500030  0.0  0.0  0.0  1.0  1.0
Y       8191.0  0.502381  0.500025  0.0  0.0  1.0  1.0  1.0
X       8191.0  0.506532  0.499988  0.0  0.0  1.0  1.0  1.0
Z       8191.0  0.503724  0.500017  0.0  0.0  1.0  1.0  1.0
REWARD  8191.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0

#Limpieza de Datos

Validar cuántos datos nulos existen:

In [ ]:
#Valores nulos por columna
missing_values_count  = sonic_games.isna().sum()
#Guardar suma de valores nulos en variable "missing_values_count"
missing_values_count

#Al verificar la lista, no existen valores nulos.

B         0
A         0
MODE      0
START     0
UP        0
DOWN      0
LEFT      0
RIGTH     0
C         0
Y         0
X         0
Z         0
REWARD    0
dtype: int64

Eliminar Datos Duplicados

In [ ]:
df= pd.DataFrame(sonic_games)
df

      B  A  MODE  START  UP  DOWN  LEFT  RIGTH  C  Y  X  Z  REWARD
0     1  1     0      0   0     0     0      0  0  1  1  0       0
1     1  0     0      0   0     0     1      1  1  0  0  1       0
2     0  0     0      1   0     1     1      0  0  1  1  1       0
3     0  0     0      0   1     1     1      1  0  1  1  1       0
4     1  1     0      0   0     0     1      1  1  0  1  1       0
...  .. ..   ...    ...  ..   ...   ...    ... .. .. .. ..     ...
8186  1  0     1      0   0     0     0      0  0  1  1  0       0
8187  1  0     1      0   0     0     0      0  0  1  1  1       0
8188  0  1     1      1   0     0     1      1  0  1  1  1       0
8189  0  0     1      0   1     1     0      1  1  1  0  0       0
8190  1  0     1      1   0     1     1      1  0  0  1  0       0

[8191 rows x 13 columns]

In [ ]:
dx= df[(df.B==0)&
       (df.A==0)&
       (df.MODE==0)&
       (df.START==0)&
       (df.UP==0)&
       (df.DOWN==0)&
       (df.LEFT==0)&
       (df.RIGTH==0)&
       (df.C==0)&
       (df.Y==0)&
       (df.X==0)&
       (df.Z==0)&
       (df.REWARD==0)
]
dx

      B  A  MODE  START  UP  DOWN  LEFT  RIGTH  C  Y  X  Z  REWARD
126   0  0     0      0   0     0     0      0  0  0  0  0       0
2245  0  0     0      0   0     0     0      0  0  0  0  0       0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')